@font-face {
    font-family: Playfair;
    src: url('PlayfairDisplay-Medium.ttf');
  }
  @font-face {
    font-family: RobotoSlab;
    src: url('RobotoSlab-Regular.ttf');
  }
  
  body {
    background-color: Ivory;
    color: Maroon;
  }

  h2 {
    
    font-family: Playfair, sans-serif;
  }

  nav {
    background-color: OldLace !important;
    font-family: RobotoSlab, Roboto;
  }
  
  a {
    color: MediumVioletRed !important;
  }
  a:hover {
    color: DeepPink !important;
  }
  